# Getting Started with Python (version 3.11.2)
_<span style="color: rgba(239, 239, 240, 0.2);">by TrailblaZer132</span>_

In [1]:
#Hello World
print("Hello World")

Hello World

In [2]:
#Print your name and age
name = "Mars"
age = 20
print("My name is", name, "and I am", age, "years old.")

#Print your name and age using formatted string
print(f"My name is {name} and I am {age} years old.")

#Print your name and age using string concatenation
print("My name is " + name + " and I am " + str(age) + " years old.")

My name is Mars and I am 20 years old.

In [5]:
#data types
print(int())
print(float())
print(bool())
print(str())
print(list())
print(tuple())
print(dict())

0
0.0
False

[]
()
{}

In [6]:
#type casting
print(int(3.14))
print(float(3))
print(bool(1))
print(str(1))
print(list("Hello"))
print(tuple([1,2,3]))
print(dict([[1,2],[3,4]]))

3
3.0
True
1
['H', 'e', 'l', 'l', 'o']
(1, 2, 3)
{1: 2, 3: 4}

In [9]:
#input
name = input("Enter your name: ")
print(f"Hello {name}!")

Hello Mars!

In [10]:
#input with type casting
# We need to convert the input to int because input() returns a string
age = int(input("Enter your age: "))
print(f"You are {age} years old.")

You are 20 years old.

In [11]:
#Conversion from old age to new age
old_age = int(input("Enter your age: "))
new_age = old_age + 10
print(f"In 10 years, you will be {new_age} years old.")

In 10 years, you will be 20 years old.

In [12]:
#sum of two numbers
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
print(f"The sum of {num1} and {num2} is {num1 + num2}.")

The sum of 2 and 3 is 5.

In [21]:
#strings

name = "Mars"
string = "Hello World"
print(name.upper())
print(name.lower())

print(name.isupper())
print(name.islower())

print(name.find("ar")) #returns the index of the first occurrence of the substring 

print(name.replace("ars", "ars the planet")) #replaces the first string with the second string

print(name.find("r")) #returns the index of the first occurrence of the character

print(string.find("l", 4)) #returns the index of the first occurrence of the character after the index 2

print(name.find("z")) #returns -1 if the substring is not found

MARS
mars
False
False
1
Mars the planet
2
9
-1

In [26]:
#slicing

name = "Trailblazer"

print(name[0:5]) #prints the characters from index 0 to index 4
print(name[5:]) #prints the characters from index 5 to the end
print(name[:5]) #prints the characters from the beginning to index 4
print(name[-5:]) #prints the last 5 characters
print(name[:-5]) #prints the characters from the beginning to the 5th last character

print(name[::-1]) #prints the string in reverse order

print(name[0::2]) #prints the characters from index 0 to the end with a step of 2

Trail
blazer
Trail
lazer
Trailb
rezalbliarT
Tallzr

In [28]:
#operators

print(2 + 3) #addition
print(2 - 3) #subtraction
print(2 * 3) #multiplication
print(3 / 2) #division
print(3 // 2) #floor division
print(2 ** 3) #exponentiation
print(2 % 3) #modulus

5
-1
6
1.5
1
8
2

In [29]:
# i++ doesnot work in python. Instead we write i+=1

In [30]:
#operator precedence
print(2 + 3 * 4) #multiplication has higher precedence than addition
print((2 + 3) * 4) #parentheses have higher precedence than multiplication

14
20

In [31]:
#comparison operators
print(2 == 3) #equal to
print(2 != 3) #not equal to
print(2 > 3) #greater than
print(2 < 3) #less than
print(2 >= 3) #greater than or equal to
print(2 <= 3) #less than or equal to

False
True
False
True
False
True

In [32]:
#logical operators
print(2 == 3 and 2 != 3) #and
print(2 == 3 or 2 != 3) #or
print(not 3>2) #not

False
True
False

In [33]:
#conditional statements

# if statement
age = 20
if age >= 18:
    print("You are an adult.")

You are an adult.

In [34]:
# if-else statement
age = 20
if age >= 18:
    print("You are an adult.")
else:
    print("You are not an adult.")

You are an adult.

In [35]:
# if-elif-else statement
age = 20
if age < 13:
    print("You are a child.")
elif age < 18:
    print("You are a teenager.")
else:
    print("You are an adult.")

You are an adult.

In [36]:
#nested if statement
age = 20
if age >= 18:
    print("You are an adult.")
    if age >= 60:
        print("You are a senior citizen.")
    else:
        print("You are not a senior citizen.")
else:
    print("You are not an adult.")

You are an adult.
You are not a senior citizen.

In [46]:
#Calculator
first = int(input("Enter first number: "))
second = int(input("Enter second number: "))
operator = input("Enter operator: ")
if operator == "+":
    print(first + second)
elif operator == "-":
    print(first - second)
elif operator == "*":
    print(first * second)
elif operator == "/":
    print(first / second)
else:
    print("Invalid operator.")

5

In [41]:
# match case is kind of like switch case as python doesnot have switch case
# we dont need to write break statement
# _ is used as default case
# match case is available from python 3.10
age = 20
match age:
    case 18:
        print("You are 18 years old.")
    case 20:
        print("You are 20 years old.")
    case 22:
        print("You are 22 years old.")
    case _: #default case
        print("You are neither 18, 20 nor 22 years old.")

You are 20 years old.

In [42]:
#loops

#while loop
i = 1
while i <= 5:
    print(i)
    i += 1

1
2
3
4
5

In [44]:
#python doesnot have do-while loop

In [45]:
#pyramid pattern
i = 1
while i <= 5:
    print("*" * i)
    i += 1

*
**
***
****
*****

In [47]:
#range
print(range(5)) #prints range(0, 5)

range(0, 5)

In [48]:
#for loop
for i in range(5):
    print(i)

0
1
2
3
4

In [49]:
#pyramid pattern
for i in range(1, 6):
    print("*" * i)

*
**
***
****
*****

In [51]:
#pyramid pattern
for i in range(5, 0, -1): #range(start, stop, step)
    print("*" * i)

*****
****
***
**
*

In [52]:
# for loop with else
for i in range(5):
    print(i)
else:
    print("Loop completed.")

0
1
2
3
4
Loop completed.

In [57]:
marks = [95, 98, 100, 97, 99]
for mark in marks:
    print(mark)


marks.append(96)
print(marks)

marks.insert(2, 94)
print(marks)

marks.remove(100)
print(marks)

marks.pop()
print(marks)

print(marks.index(97))  #returns the index of the first occurrence of the element

print(marks.count(97))  #returns the number of occurrences of the element

marks.sort()
print(marks)

print(len(marks))

i=0
while i<len(marks):
    print(marks[i])
    i+=1

95
98
100
97
99
[95, 98, 100, 97, 99, 96]
[95, 98, 94, 100, 97, 99, 96]
[95, 98, 94, 97, 99, 96]
[95, 98, 94, 97, 99]
3
1
[94, 95, 97, 98, 99]
5
94
95
97
98
99

In [58]:
#break statement
students = ["Mars", "TeaZZee", "Chuchubear", "Chuchupanda", "Mars", "Sad", "Happy"]
for student in students:
    if student == "Sad":
        break
    print(student)

Mars
TeaZZee
Chuchubear
Chuchupanda
Mars

In [59]:
#continue statement
students = ["Mars", "TeaZZee", "Chuchubear", "Chuchupanda", "Mars", "Sad", "Happy"]
for student in students:
    if student == "Sad":
        continue
    print(student)

Mars
TeaZZee
Chuchubear
Chuchupanda
Mars
Happy

In [70]:
#tuple
#tuple is immutable
#tuple can be defined without parentheses
marks = (95, 98, 100, 97, 99, 97)
also_marks = 95, 98, 100, 97, 99, 97

print(marks)

print(marks.count(97))  #returns the number of occurrences of the element

print(marks.index(97))  #returns the index of the first occurrence of the element

print(len(marks))

print(type(marks))
print(type(also_marks))

(95, 98, 100, 97, 99, 97)
2
3
6
<class 'tuple'>
<class 'tuple'>

In [65]:
#tuple unpacking
marks = (95, 98, 100, 97, 99, 97)
mark1, mark2, mark3, mark4, mark5, mark6 = marks
print(mark1)
print(mark2)
print(mark3)
print(mark4)
print(mark5)
print(mark6)

95
98
100
97
99
97

In [67]:
# set
# set is unordered
# set is mutable
# set doesnot allow duplicate values
# it doesnot support indexing
# it doesnot support slicing
marks = {95, 98, 100, 97, 99, 97}
print(marks)

#it will remove the duplicate values

{97, 98, 99, 100, 95}

In [69]:
# set methods
marks = {95, 98, 100, 97, 99, 97}
marks.add(96)
print(marks)

#adds 96 to the set if it is not already present in the set at a random position

{96, 97, 98, 99, 100, 95}

In [76]:
#dictionary
#dictionary is mutable
#dictionary is unordered
#dictionary doesnot allow duplicate keys
#dictionary allows duplicate values

#key:value

marks = {"English": 95, "Math": 98, "Science": 100, "Social": 97, "Computer": 97}

print(marks)

print(marks["Math"]) #returns the value of the key

print(marks.get("Math")) #returns the value of the key

print(marks.get("Hindi")) #returns None if the key is not found

marks["Hindi"] = 96 #adds the key-value pair to the dictionary if the key is not found

print(marks)


#dictionary methods
marks = {"English": 95, "Math": 98, "Science": 100, "Social": 97, "Computer": 97}

print(marks.keys()) #returns the keys of the dictionary

print(marks.values()) #returns the values of the dictionary

print(marks.items()) #returns the key-value pairs of the dictionary

{'English': 95, 'Math': 98, 'Science': 100, 'Social': 97, 'Computer': 97}
98
98
None
{'English': 95, 'Math': 98, 'Science': 100, 'Social': 97, 'Computer': 97, 'Hindi': 96}
dict_keys(['English', 'Math', 'Science', 'Social', 'Computer'])
dict_values([95, 98, 100, 97, 97])
dict_items([('English', 95), ('Math', 98), ('Science', 100), ('Social', 97), ('Computer', 97)])

In [79]:
# dictionary unpacking
marks = {"English": 95, "Math": 98, "Science": 100, "Social": 97, "Computer": 97}
for key, value in marks.items(): #.items() returns the key-value pairs of the dictionary else we can use .keys() or .values() to return the keys or values of the dictionary respectively 
    print(key, value)

English 95
Math 98
Science 100
Social 97
Computer 97

In [6]:
#String formatting

name = "Mars"
age = 20
height = 5.8

print("My name is " + name + " and I am " + str(age) + " years old.")

print("My name is %s and I am %d years old." %(name, age))

print("I am %5.4f feet tall." % height)

# Another way of string formatting

print("My name is {} and I am {} years old.".format(name, age))

print("I am {2} years old and {0} feet tall.".format(height, name, age))

print("I am {name} years old and {height} feet tall.".format(name = "Mars", height = 5.8))

My name is Mars and I am 20 years old.
My name is Mars and I am 20 years old.
I am 5.8000 feet tall.
My name is Mars and I am 20 years old.
I am 20 years old and 5.8 feet tall.
I am Mars years old and 5.8 feet tall.

In [80]:
#importing modules
import math
print(math.sqrt(16))

4.0

In [81]:
from math import sqrt
print(sqrt(16))

4.0

In [82]:
from math import *
print(sqrt(16))
print(factorial(5))

4.0
120

In [88]:
"""
functions

def function_name(parameters):
    function body
    return value
"""

def sum(first, second):
    return first + second

print(sum(2, 3))




def sum(first, second):
    print(first + second)

sum(2, 3)



def sum(first, second = 3):
    return first + second

print(sum(2))

5
5
5